<div class="center jumbotron main-area">
  <h1>אימון לנשים בהריון</h1>
  <h2>
  </h2>
  <p>
    בלה בלה בלה תרגיל 1
  </p>
  <div>
  <%= video_tag 'http://res.cloudinary.com/eliranf/video/upload/v1442320484/VID-20150915-WA0001_bqns3u.mp4', :size => "320x240", :controls => true %>
  </div>
  <p>
    וכן מרתק מאוד לראות את תרגיל 2
  </p>
  <div>
  <%= video_tag 'http://res.cloudinary.com/eliranf/video/upload/v1442320512/VID-20150915-WA0002_bvozeh.mp4', :size => "320x240", :controls => true %>
  </div>
  <%= render 'videos/picker' %>
  
</div>