<div class="center jumbotron main-area">
  <h1>תכניות אימונים</h1>
  <h2>
    אימון לנשים בהריון
  </h2>
  
  <div class="videos-text">
    <p>
      בתקופת ההריון המטרה היא לשמר את המצב הקיים ולא להשיג שיפור בכושר הגופני.
      אישה שלא התאמנה לפני ההריון עדיף שתתחיל כבר אחרי הלידה.
      אם ההריון תקין וקיים אישור רפואי להתאמן, פעילות גופנית יכולה לשפר מאוד את ההרגשה הכללית הפיזית והנפשית של האישה ויש בה הרבה יתרונות<span dir="ltr">.</span>
      </br>
      חשוב להדגיש שכל אשה יודעת מה טוב בשבילה ואם את מרגישה עומס, כאב, לחץ שלא נוחים לך הפסיקי את האימון ולכי לבירור רפואי. ושהתקופה הזאת תעבור בקלות לכולנו<span dir="ltr">!</span>
      </br>
      </br>
      <b>
      נתחיל במספר תרגילים העובדים על שרירי הירך הקדמי ושרירי החזה<span dir="ltr">:</span>
      </b>
      </br>
      </br>
    </p>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320707/VID-20150915-WA0008_dwxpfc.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל מס' 1
      </h3>
      <p>
        </br>
        נעמוד ונפתח פיסוק גדול ברגליים, נוודא שהאצבעות של כפות הרגליים פונות כלפי חוץ ושהברכיים בקו העקבים ולא בקו האצבעות. נחזיק כדור בשתי ידיים ונכפוף ברכיים תוך כדי לחיצה על הכדור. בעלייה תוך כדי הלחיצה על הכדור נוציא אוויר ובירידה נשאף אוויר<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320705/VID-20150915-WA0009_jwgpob.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל מס' 2
      </h3>
      <p>
        </br>
        נעבור לעמידת פסיעה, נוודא ששתי עצמות האגן מסתכלות קדימה. נחזיק את הכדור בשתי ידיים, מרפקים פתוחים לצדדים. נכפוף את שתי הברכיים תוך כדי לחיצה על הכדור ונעלה חזרה מספר פעמים<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442326106/VID-20150915-WA0012_yenklr.mp4" type="video/mp4">
      </video>
    </div>
            
    <div class="video-container-text">
      <h3>
        תרגיל מס' 3
      </h3>
      <p>
        </br>
        נשלח את הידיים ישרות אל התקרה יחד עם הכדור ובכפיפת הברכיים נעביר את הכדור מתחת לירך הרגל הקדמית<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="videos-text">
    <p>
      </br>
      <b>
      האיזור שהכי חשוב לחזק בתקופת ההריון הוא שרירי קרקעית האגן או רצפת האגן שהם בעצם שלושה שרירים טבעתיים בקרקעית האגן, שלושת הפתחים שלנו: השופכה, הנרתיק ופי הטבעת. החיזוק שלהם מתרחש ע"י כיווץ והרפיה (תחושת התאפקות לפיפי) תוך הוצאת אויר בזמן הכיווץ ואיסוף של הבטן ולקיחת אויר בזמן ההרפיה ושחרור הבטן<span dir="ltr">.</span>
      </b>
      </br>
      </br>
    </p>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320484/VID-20150915-WA0001_bqns3u.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל מס' 1
      </h3>
      <p>
        </br>
        נתרגל בעמידת 6: רגליים מקבילות ברוחב אגן, ידיים מקבילות ברוחב הכתפיים, גב ארוך. ניקח אויר ובהוצאת האויר נכווץ את שרירי רצפת האגן יחד ונאסוף את הבטן פנימה. שריר הבטן שאנחנו עובדות עליו הוא הרחב הבטני וזה שריר הבטן היחידי מבין ארבעת השרירים של הבטן שצריך לחזק בתקופת ההריון. השריר הזה מהווה מעין חגורת בטן שעוזרת בהפחתת כאבי גב. נתרגל מספר פעמים את הכיווצים והנשימות<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320512/VID-20150915-WA0002_bvozeh.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל מס' 2
      </h3>
      <p>
        </br>
        עכשיו נוסיף הרמת רגל מעלה בהוצאת האויר תוך כדי הכיווץ ואיסוף הרחב הבטני. נחזור על התרגיל מספר פעמים ונשחרר<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320397/VID-20150915-WA0003_exrivg.mp4" type="video/mp4">
      </video>
    </div>
            
    <div class="video-container-text">
      <h3>
        תרגיל מס' 3
      </h3>
      <p>
        </br>
        נעבור לשכיבה על הגב: נתרגל שוב כיווץ והרפיית שרירי רצפת אגן תוך כדי ניתוק של האגן מעלה וכיווץ של שני הישבנים אחד כלפי השני. בכל עלייה נקפיד קודם להוציא אויר, לאסוף את רצפת האגן, לאסוף את הבטן פנימה ולהדק ישבנים, נשאר למעלה וניקח אויר ובירידה נרפה מעט. נבצע את התרגיל מספר פעמים. חשוב לציין שאם את מאומנת ורגילה לדרגת קושי קשה יותר ניתן להוסיף אביזרים כמו גומיה ולבצע תרגילים מעט מורכבים יותר<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320647/VID-20150915-WA0004_fqroi0.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל מס' 4
      </h3>
      <p>
        </br>
        נעבור לשכיבה על הצד: נכופף את שתי הרגליים, רגל עליונה מתיישרת קדימה ומכאן נבצע הרמה והורדה של הרגל. מעגלים קדימה ואחורה ושוב הרמה והורדה. חשוב לציין שבתקופת ההריון לא ננתק שתי רגליים בו זמנית, לא בשכיבה על הצד ולא בשכיבה על גב. לאחר שנבצע מספר חזרות נעבור לצד שני<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320562/VID-20150915-WA0005_stb1xv.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל מס' 5
      </h3>
      <p>
        </br>
        נחזור לשכיבה על הגב: נניח כדור בין הירכיים ונבצע לחיצות כדור תוך כדי עבודה על רצפת האגן. בהוצאת האויר – נכווץ את שרירי רצפת האגן, נלחץ את הכדור ונאסוף את שרירי הבטן פנימה וקצת נרפה מספר פעמים. ננתק את רגל ימין ונמשיך אותו דבר וכנ"ל רגל שמאל – מספר חזרות<span dir="ltr">.</span>
      </p>
    </div>
  </div>

  <div class="videos-text">
    <p>
      </br>
      <b>
        לסיום האימון, מומלץ לבצע תרגילי שחרור<span dir="ltr">:</span>
      </b>
      </br>
      </br>
    </p>
  </div>
  
  <div class="video-container">
    <div class="video-container-src">
      <video width="320" height="240" controls autoplay loop>
        <source src="http://res.cloudinary.com/eliranf/video/upload/ac_none/v1442320713/VID-20150915-WA0007_pir71h.mp4" type="video/mp4">
      </video>
    </div>
          
    <div class="video-container-text">
      <h3>
        תרגיל לשחרור
      </h3>
      <p>
        </br>
        נעבור לישיבה: נמתח מעט את הגוף בפיסוק קטן, מתיחה קדימה ולצדדים. שתי רגליים ישרות קדימה ומתיחות לישבן. שימו לב להמנע מפיתולים חדים ומתיחות חזקות בשל הפרשת הורמון הרלקסין בתקופה זו שגורם לרצועות להיות גמישות יותר בגלל ההתרחבות הטבעית ולאחר מכן רצועות שנמתחו יתר על המידה לא חוזרות לגודלן המקורי. בנוסף פיתולים חדים יכולים לגרום להפרדות ולכן לא מומלצים<span dir="ltr">.</span>
      </p>
    </div>
  </div>
  
  <div class="videos-text">
    <p>
      </br>
      <b>
        טיפ קטן בנושא תזונה<span dir="ltr">:</span>
      </b>
      </br>
      </br>
        הקפידי לשתות הרבה מים במשך היום לפני ואחרי האימון. לפני אימון הקפידי לאכול משהו קטן כמו פרי או חטיף אנרגיה. לאחר האימון הקפידי לאכול ארוחה שכוללת פחמימה וחלבון יחד עם פרוסה עם גבינה / טונה / ביצים או יוגורט עם ברנפלקס / גרנולה ואם מדובר בארוחה עיקרית אז אורז / פסטה / תפו"א יחד עם חזה עוף / בשר<span dir="ltr">.</span>
      </br>
      </br>
        שיהיה בתיאבון<span dir="ltr">!</span>
      </br>
    </p>
  </div>
  
</div>