<div class="center jumbotron main-area">
  <h1>
    אודות רין
  </h1>

  <h2>
    קצת על עצמי
  </h2>
  
  <div>
    <img src="http://res.cloudinary.com/eliranf/image/upload/v1443368962/10583045_513852518758733_3331734529103798351_o_1_xfxoww.jpg"
           style="height:576px; width:334px; float: left; margin-right:40px">
  </div>
  
  <div class="about-text">
    <p>
      אני זוכרת את אותו יום בתחילת החופש הגדול כשהייתי בת 10 וחצי. הלכתי עם אבי לקניון לקנות בגדים.
      הסתובבנו בכל החנויות בקניון ושום בגד לא עלה עליי. השיא היה כשהגענו לחנות לבגדי ילדים והמוכרת הסתכלה עליי במבט מזלזל ואמרה:
      "אין פה בגדים בשבילך, את צריכה ללכת לחנויות של נשים". נעלבתי עד עמקי נשמתי, חזרתי הביתה עצובה ובידיים ריקות.
      בראשי עברו באותו רגע כל הפעמים שחוויתי דחיה בגלל המשקל שלי. באותו רגע החלטתי לעשות שינוי<span dir="ltr">!</span>
      </br>
      </br>
      התחלתי להתעניין מה צריך לאכול כדי לרדת במשקל, עשיתי לעצמי אימוני ספורט בבית ושיניתי לגמרי את אורח החיים שלי.
      התוצאות לא איחרו להגיע ותוך חצי שנה שקלתי כבר 25 קילו פחות. המחמאות לא נפסקו, הפכתי להיות מקובלת מאוד בבית הספר,
      התחלתי לרקוד ונפתח בפניי עולם מופלא ומרגש. אפשר להגיד שהחיים שלי השתנו מן הקצה אל הקצה.
      הביטחון העצמי שלי גבר וכך גם השמחה והקלילות. מכאן והלאה הצבתי לעצמי למטרה לשמור כל חיי על ההישג הנ"ל<span dir="ltr">.</span>
      </br>
      </br>
      במהלך השנים חוויתי עליות ומורדות ועברתי המון תהליכים בנוגע למשקל שלי ודימוי הגוף שלי.
      החלטתי לחקור לעומק את הנושא ולכן נרשמתי ללימודי תזונה.את האהבה שלי לספורט הגשמתי בהפיכתי למדריכת ספורט.
      כיום אני מאושרת מהעיסוק שבחרתי לעצמי כשבראש שאיפותיי לעזור גם לאחרים לשנות את חייהם.
      אומרים "אין חכם כבעל ניסיון" ולכן רק מי שהיה במצב הזה יכול להבין את התחושות והרגשות שעוברות בראשו של אדם בעל עודף משקל.
      את כל הקשיים, הדילמות והמשברים שהאדם חווה תוך כדי התהליך.
      לכן אני כאן, כדי לעזור לכם לעבור את התהליך והשינוי שאני בעצמי עברתי, בשילוב מנצח של תזונה נכונה ואימוני ספורט<span dir="ltr">.</span>
      </br>
    </p>
  </div>
  
  <div class="about-text">
    <p>
      <b>
      הכשרות והשתלמויות שעברתי
      </b>
      </br>
      קורס מדריכות אירובי ועיצוב הגוף, "הג'ימנסיה" סטודיו בי תל אביב
      </br>
      קורס אנטומיה וקיניזולוגיה של היציבה, "הג'ימנסיה" סטודיו בי תל אביב
      </br>
      קורס העשרה באירובי דאנס,"הג'ימנסיה" סטודיו בי תל אביב
      </br>
      קורס פילאטיס מזרן, "הג'ימנסיה" סטודיו בי תל אביב
      </br>
      מאת תמי קיס
      <span dir="ltr">"CORE FITTNES"</span>
      קורס
      </br>
      מאת תמי קיס
      <span dir="ltr">"CORE CONDITIONING"</span>
      קורס
      </br>
      מאת תמי קיס
      <span dir="ltr">"CORE SPECIALIST"</span>
      קורס
      </br>
      מאת עופר קיס
      (TRX)
      השתלמות בנושא רצועות תלייה
      </br>
      (בעלת תואר ראשון במדעי התזונה, הפקולטה לחקלאות ברחובות (שלוחת האוניברסיטה העברית בירושלים
      </br>
    </p>
  </div>
</div>