<div class="center jumbotron main-area">
  <h1>
    לקוחות עסקיים
  </h1>

  <h2>
   :אנחנו מזמינים אתכם להצטרף אל קהל לקוחותינו, ביניהם
  </h2>
  <ul class="business-list">
    <li><img src="https://rarebirds2-wpengine.netdna-ssl.com/wp-content/uploads/2015/06/Screen-Shot-2015-06-01-at-5.04.40-PM-501x483.png" style="height:262px; width:272px" alt="Ren_pic"></li>
    <li><img src="http://res.cloudinary.com/eliranf/image/upload/v1442324472/radcom_em0kjb.jpg" alt="Ren_pic"></li>
  </ul>
  
  <h3>
    <%= link_to "דרכי תקשורת להצטרפות", contact_path %>
  </h3>

</div>