<% provide(:title, "business") %>
<div class="center jumbotron main-area">
  <h2>
   :אנחנו מזמינים אתכם להצטרף אל קהל לקוחותינו, ביניהם
  </h2>
  
  <div class="gen-container">
    <ul class="business-list">
      <li>
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443515089/150x88_radcom_wklau3.png" style="height:60px; width:225px">
      </li>
      <li>
        <img src="http://static1.squarespace.com/static/518020d6e4b00f395718a7b9/542c5f2ee4b054b6e5c7ac97/542c5f7de4b053eaa6046c86/1412195933185/EY.png" style="height:160px; width:160px">
      </li>
    </ul>
  </div>
  
  <h3>
    <%= link_to "דרכי תקשורת להצטרפות", contact_path %>
  </h3>

</div>