<div class="center jumbotron main-area">
  <h1>
    רן פרידמן - מדריכת כושר ותזונאית
  </h1>

  <h2>
    טלפון: 052-8499910
  </h2>
  <h2>
    <a href="mailto:renfiness111@gmail.com">renfiness111@gmail.com</a>
    :דוא"ל
  </h2>
  <h2>
    <%= link_to "Facebook", 'https://www.facebook.com/Ren-Fitness-499917123485606/timeline/' %>
    -חפשו אותנו ב
  </h2>

</div>