<div class="center jumbotron main-area">
  <h1>
    רין פרידמן - מדריכת כושר ותזונאית מוסמכת
  </h1>
  
  <img src="http://res.cloudinary.com/eliranf/image/upload/v1443460326/RenFitnessWhiteMerged7_nvjevo.png" style="height:300px; width:849px; margin-top:20px;" alt="Ren_pic">

  <h2>
    טלפון: 052-8499910
  </h2>
  <h2>
    <a href="mailto:renfiness111@gmail.com">renfitness111@gmail.com</a>
    :דוא"ל
  </h2>
  <h2>
    <%= link_to "Facebook", 'https://www.facebook.com/Ren-Fitness-499917123485606/timeline/' %>
    -חפשו אותנו ב
  </h2>

</div>