<div class="center jumbotron main-area">
  <h1>
    רן פרידמן - מדריכת כושר ותזונאית
  </h1>

  <h2>
    רן בעלת תואר ראשון בתזונה ואישתו של אדישי
  </h2>
  
  <p>
    <img src="http://oi39.tinypic.com/24ccy0j.jpg" alt="Ren_pic">
  </p>

</div>