<div class="center jumbotron main-area">
  <h1>
    רן פרידמן - מדריכת כושר ותזונאית
  </h1>

  <h2>
    רן בעלת תואר ראשון בתזונה ואישתו של אדישי
  </h2>
  
  <p>
    <img src="http://res.cloudinary.com/eliranf/image/upload/v1442061146/ren_profile_ivbpfs.jpg" style="height:400px; width:400px" alt="Ren_pic">
  </p>

</div>