<div class="center jumbotron main-area">
  <h1>
    רין פרידמן - מדריכת כושר ותזונאית מוסמכת
  </h1>

  <h2>
    אימונים אישיים, בקבוצות ובעסקים
  </br>
    ייעוץ תזונתי    
    / TRX /
    פילאטיס / אירובי / עיצוב וחיטוב
  </h2>
  
  <p>
    <img src="http://res.cloudinary.com/eliranf/image/upload/v1443363485/IMG-20150927-WA0010_1_wu7i0m.jpg" style="height:400px; width:225px; opacity:0.8; filter:alpha(opacity=80);" alt="Ren_pic">
    <img src="http://res.cloudinary.com/eliranf/image/upload/v1442061146/ren_profile_ivbpfs.jpg" style="height:400px; width:400px" alt="Ren_pic">
    <img src="http://res.cloudinary.com/eliranf/image/upload/v1442053859/3_qx5vrt.jpg" style="height:400px; width:225px; opacity:0.8; filter:alpha(opacity=80);" alt="Ren_pic">
  </p>

</div>