<div class="photos-nav">
    <h3>
        אלבומים נוספים
    </h3>
    <nav>
      <ul class="photos-picker">
        <li><%= link_to "TRX", '#' %></li>
        <!-- <li><%= link_to "TRX 2",   '#' %></li> -->
        <!-- <li><%= link_to "EY 1",   '#' %></li -->
        <!-- <li><%= link_to "EY 2",   '#' %></li> -->
      </ul>
    </nav>
  </div>