<% provide(:title, "photos") %>
<div class="center jumbotron main-area">
  <img class="pic under-const" src="http://res.cloudinary.com/eliranf/image/upload/v1457196988/Untitled-2_tkwwiv.png" style="height:260px; width:260px;" alt="Mountain View">
  <h2>
    ...בקרוב
  </h2>
</div>