<div class="center jumbotron main-area">
  <h1>TRX</h1>
  <h2>
    אימון שהבצע בפארק לאח של אלעד
  </h2>
  
    <div class="slides">
        <div class="slide">
          <img class="pic" src="http://res.cloudinary.com/eliranf/image/upload/v1442053653/1_e4g2v6.jpg" style="height:400px; margin:auto;" alt="Mountain View">
        </div>
        <div class="slide">
          <img class="pic" src="http://res.cloudinary.com/eliranf/image/upload/v1442053805/2_u2lmyr.jpg" style="height:400px; margin:auto;" alt="Mountain View">
        </div>
        <div class="slide">
          <img class="pic" src="http://res.cloudinary.com/eliranf/image/upload/v1442053859/3_qx5vrt.jpg" style="height:400px; margin:auto;" alt="Mountain View">
        </div>
  </div>
  
  <%= render 'photos/picker' %>
  
</div>