@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: rgb(122, 122, 126);
$orange:     rgb(252, 134, 17);
$dark-blue:  rgb(10, 41, 114);
$very-dark-blue: rgb(0, 15, 61);
$dark-grey:  rgb(34, 34, 34);
$black:      rgb(0, 0, 0);  
$light-blue: rgb(0, 126, 229);
$light-light-blue: rgb(0, 153, 255);
$blue      : rgb(0, 82, 204);
$grey      : rgb(116, 120, 120);
$blue-header: rgb(40, 47, 122);
$blue-border: #40478F;

/* universal */

.page-header {
  margin-top: 52px;
  margin-bottom: 0px;
  border-bottom-style: none;
  padding: 0px;
}

.page-header-text {
  margin: 0px;
  //border-bottom-style: none;
  padding: 0px;
  background-color: green;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-top-color: white;
  border-bottom-color: white;
  text-align: center;
}

body {
  background-color: $dark-blue;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Sans Unicode", Lucida Grande
  //font-family: "Verdana", Geneva;
}

h1 {
  font-size: 3em;
  margin: 0px;
  padding: 10px;
  letter-spacing: 3px;
  color: white;
}

.title-home     { background-color: #1486F7; }
.title-videos   { background-color: green; }
.title-photos   { background-color: $orange; }
.title-about    { background-color: #6E22A8; }
.title-contact  { background-color: #911103; }
.title-business { background-color: black; }

.header-nav-title-home     { color: #1486F7; }
.header-nav-title-videos   { color: green; }
.header-nav-title-photos   { color: $orange; }
.header-nav-title-about    { color: #6E22A8; }
.header-nav-title-contact  { color: #911103; }
.header-nav-title-business { color: black; }

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.4em;
  letter-spacing: -1px;
  //margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: $gray-light;
  color: rgb(42, 45, 74);
  //color: $light-blue;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: normal;
  color: $blue;
  
}

p {
  font-size: 1.1em;
  //line-height: 1.7em;
  margin-bottom: 2px;
  padding-bottom: 2px;
}


/* header */
.header-style {
 padding-top: 5px;
 border-bottom-color: rgb(89, 102, 102);
 border-bottom-width: 2px;
 border-bottom-style: solid;
 padding-bottom: 2px;
 margin-bottom: 0px;
}

.navbar-nav {
  color: red;  
}

.nav {
  color: red;
}

.header-list {
  font-size: 1.6em;
  color: red;
  padding-top: 10px;
  vertical-align: middle;
}

.container-body {
  margin-top: -2px;
  //padding-top: 64px;
  //padding-top: 50px;
}

/* slick */
.slick-prev:before
.slick-next:before
.slick-dots li a:before

.slides {
  background-color: black;
}
.slick-slider {
  padding: 50px;
  background-color: black;
}

.photos-picker {
  margin-top: 25px;
  //background-color: black;
}

/* main area */
.main-area {
  margin-top: 1px;
  padding-top: 1px;
  //background-color: rgb(247, 247, 247);
  background-color: rgb(225, 227, 227)
}

.slide {
  //padding-top: 100px;
  //background-color: black;
}

/* footer */

.photos-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $light-blue;
  a {
    color: $light-blue;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
  ul {
    text-align: center;
    li {
      background-color: $dark-grey;
      font-size: 2em;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 6px;
      margin-right: 6px;
      border: 5px solid $orange;
      font-weight: bold;
      display:inline;
    }
  }
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  a {
    color: white;
    &:hover {
      color: $orange;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Business */
.business-list {
  ul {
    white-space: nowrap;
  }

  ul, li {
    list-style: none;
    display: inline;
  }
  
  li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* about */
.about-text {
  text-align: right;
  
  p {
    font-size: 1.2em;
  }
}

/* videos */
.videos-text {
  text-align: right;
  
  p {
    font-size: 1.2em;
  }
}

.gen-container {
  overflow: auto;
  
  text-align:center;
  
  border-style: solid;
  border-width: 6px;
  color: white;
  
  border-color: $blue-border;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px $blue-border;
  border-radius: 10px;
  background-color:$dark-grey;
  
  h3 {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: right;
    font-weight: normal;
    color: $blue;
  }
}

.img-home {
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.video-container {
  overflow: auto;
  margin-left: 100px;
  border-style: solid;
  border-width: 6px;
  color: white;
  
  border-color: $blue-border;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px $blue-border;
  border-radius: 10px;
  background-color:$dark-grey;
  
  h3 {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: right;
    font-weight: normal;
    color: $blue;
  }
}

.video-container-src {
  float: left
}

.video-container-text {
  text-align: right;
  
  p {
    font-size: 1.2em;
  }
}

.under-const {
  margin-top: 30px;
}

/*
logo: http://oi62.tinypic.com/3145lwz.jpg
*/