<footer class="footer">
  <small>
    Ren Fitness &amp; Nutrition
  </small>
  <nav>
    <ul>
      <li><%= link_to "Facebook", '#' %></li>
      <li><%= link_to "צור קשר",   '#' %></li>
    </ul>
  </nav>
</footer>